@using Humanizer
@model Invoicer.Web.Pages.IndexViewModel
<h2>Invoices</h2>
<table class="table">
<thead>
	<th>Client
	</th>
	<th>Created
	</th>
	<th>
		Status
	</th>
	<th>
		Total
	</th>
	<th>
	</th>
</thead>
<tbody>
	@foreach (var invoice in Model.Invoices)
	{
		<tr>
			<td>@invoice.Client.Name</td>
			<td title="@invoice.CreatedAt">@invoice.CreatedAt.Humanize()</td>
			<td>@invoice.InvoiceStatus</td>
			<td>@invoice.Total().ToString("0.00")</td>
			<td><a class="btn" asp-page="/Invoices/Details" asp-route-id="@invoice.Id" aria-label="View printable invoice" title="View printable invoice"><i data-lucide="printer"></i></a></td>
		</tr>
	}
</tbody>
</table>
