@using Invoicer.Web.Pages.WorkItems
@model Invoicer.Web.Pages.IndexViewModel

@{
}

<form class="form-container" method="post" asp-page-handler="AddHours">
	<label for="Model_date">Date</label>
	<input class="" type="date" asp-for="@Model.NewWorkItem.Date" />
	<label for="Model_Description">Description</label>
	<input class="" type="text" asp-for="@Model.NewWorkItem.Description"/>
	<label for="Model_Clients">Client</label>
	<select class="" asp-for="@Model.NewWorkItem.ClientId" asp-items="@Model.NewWorkItem.Clients.ToSelectListItem()"></select>
	<label for="Model_rate">Rate Units</label>
	<select class="" 
		asp-for="@Model.NewWorkItem.RateUnits" 
		asp-items="Html.GetEnumSelectList<RateUnits>()"></select>
	<label for="Model_Rate">Rate</label>
	<input class="" type="text" asp-for="@Model.NewWorkItem.Rate"/>
	<label for="Model_hours">Hours</label>
	<input class="" type="text" asp-for="@Model.NewWorkItem.Hours"/>
	<!-- select from Clients -->
	<input type="submit" class="btn btn-primary" value="Save"/>
	@Html.AntiForgeryToken()
</form>


