@using Invoicer.Web.Pages.WorkItems
@model Invoicer.Web.Pages.IndexViewModel

@{
}

<form class="form-container" method="post" asp-page-handler="AddHours">
	<div class="form-group">
		<label for="Model_date">Date</label>
		<input class="" type="date" asp-for="@Model.NewWorkItem.Date" />
	</div>
	<div class="form-group">
		<label for="Model_Description">Description</label>
		<input class="" type="text" asp-for="@Model.NewWorkItem.Description"/>
	</div>
	<div class="form-group">
		<label for="Model_Clients">Client</label>
		<select class="" asp-for="@Model.NewWorkItem.ClientId" asp-items="@Model.NewWorkItem.Clients.ToSelectListItem()"></select>
	</div>
	<div class="form-group">
		<label for="Model_rate">Rate Units</label>
		<select class="" 
			asp-for="@Model.NewWorkItem.RateUnits" 
			asp-items="Html.GetEnumSelectList<RateUnits>()"></select>
	</div>
	<div class="form-group">
		<label for="Model_Rate">Rate</label>
		<input class="" type="text" asp-for="@Model.NewWorkItem.Rate"/>
	</div>
	<div class="form-group">
		<label for="Model_hours">Hours</label>
		<input class="" type="text" asp-for="@Model.NewWorkItem.Hours"/>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" title="Save"><i data-lucide="save"></i></button>
		@Html.AntiForgeryToken()
	</div>
</form>


