@page
@model Invoicer.Web.Pages.Invoices.Create
@{
}
	@if(TempData["errors"] != null) 
	{
	<div class="alert alert-danger">
		@Html.Raw(TempData.GetErrorsAsHtml())
	</div>
	}

<form class="form-container" method="post">
	<h2>Create Invoice</h2>

		@for (int i=0;i < @Model.OutStandingHours.Count;i++)
		{
	<div class="form-group">
			<label>@Model.OutStandingHours[i].Label()</label>
			<input hidden asp-for=@Model.OutStandingHours[i].Id/>  
			<input type="checkbox" asp-for=@Model.OutStandingHours[i].IsSelected/>
	</div>
		}

	<div class="form-group">
			<label>Select Account</label>
			<select asp-for="@Model.SelectedAccountId" asp-items="@Model.Accounts"></select>  
	</div>

	<button class="btn btn-primary" type="submit"><i data-lucide="save"></i></button>
	<a class="btn" asp-page="./Index">Back</a>

	@Html.AntiForgeryToken()
</form>
