@page
@model Invoicer.Web.Pages.Invoices.Create
@{
}
<h1>Create Invoice</h1>

@if(TempData["errors"] != null) 
{
<div class="alert alert-danger">
	@Html.Raw(TempData.GetErrorsAsHtml())
</div>
}

<form method="post">
	<div class="form-group">
		@for (int i=0;i < @Model.OutStandingWorkItems.Count;i++)
		{
		<div class="input-group">
			<input hidden asp-for=@Model.OutStandingWorkItems[i].Id/>  
			<input type="checkbox" asp-for=@Model.OutStandingWorkItems[i].IsSelected/>
			<label>@Model.OutStandingWorkItems[i].Label()</label>
		</div>
		}
	</div>

	<div class="form-group">
		<div class="from-control">
			<label>Select Account</label>
			<select asp-for="@Model.SelectedAccountId" asp-items="@Model.Accounts"></select>  
		</div>
	</div>

	<div class="form-group">
		<input class="btn btn-primary" type="submit" value="Save"/>
		<a class="btn btn-secondary" asp-page="Index">Cancel</a>
	</div>

	@Html.AntiForgeryToken()
</form>
