@page
@using Humanizer
@model Invoicer.Web.Pages.Invoices.IndexViewModel
@{
}

<h1>Invoices</h1>

<section>
	<form>
		<button class="btn btn-primary" asp-page="./Create" class="btn btn-primary"><i data-lucide="file-plus-2" ></i>Create Invoice</button>
	</form>
</section>

<table> 
    <thead>
        <th>Invoice Code</th>
				<th>Total</th>
        <th>Client</th>
        <th>Created At</th>
        <th>Status</th>
        <th>Account</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var invoice in Model.Invoices) {
            <tr>
                <td>@invoice.InvoiceCode</td>
                <td>@invoice.Total</td>
                <td>@invoice.Client.Name</td>
                <td>@invoice.CreatedAt.Humanize()</td>
                <td>@invoice.InvoiceDate.ToShortDateString()</td>
                <td>@invoice.InvoiceStatus</td>
                <td>@invoice.AccountLabel</td>
                <td>
                    <a class="btn" asp-page="./Edit" asp-route-id="@invoice.Id"><i data-lucide="edit"></i></a>
                    <a class="btn" asp-page="./Details" asp-route-id="@invoice.Id"><i data-lucide="printer"></i></a>
                    <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@invoice.Id"><i data-lucide="trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
