@model Invoicer.Web.Pages.NotInvoicedHours.IndexModel
@using Humanizer;

@{
    int end = 0;
    foreach (var hour in Model.NotInvoicedHours)
    {
        end++;
        if (end == Model.NotInvoicedHours.Count)
        {
            @:<tr data-client-id="@hour.Client?.Id"
                @:hx-get="NotInvoicedHours?pageNum=@(Model.PageNum+1)&pageSize=@Model.PageSize&search=@Model.Search"
                @:hx-trigger="revealed"
                @:hx-swap="afterend">
        }
        else
        {
            @:<tr data-client-id="@hour.Client?.Id">
        }
            <td>
                <input type="checkbox" 
                       class="form-check-input hour-checkbox" 
                       name="selectedHours" 
                       value="@hour.Id" 
                       data-client-id="@hour.Client?.Id"
                       hx-get="NotInvoicedHours"
                       hx-include="[name='selectedClients']"
                       hx-trigger="change"
                       hx-target="tbody" />
            </td>
            <td>@hour.Client?.Name</td>
            <td>@hour.Date.ToShortDateString()</td>
            <td>@hour.Description</td>
            <td>@hour.NumberOfHours</td>
            <td>@hour.Rate @hour.RateUnits.Humanize()</td>
            <td>@hour.Total().ToString("C")</td>
            <td>
                <button class="btn btn-danger btn-sm" 
                    hx-get="/NotInvoicedHours/?handler=Delete&id=@hour.Id" 
                    hx-confirm="Are you sure you want to delete this entry?"
                    hx-target="closest tr"
                    hx-swap="outerHTML">
                    <i data-lucide="trash-2"></i>
                </button>
            </td>
        @:</tr>
    }
} 