@page
@model Invoicer.Web.Pages.MyAccount.Index
@{
}


<h3>Accounts</h3>

<section>
	<form>
		<button class="btn btn-primary" asp-page="Create"><i data-lucide="user-plus"></i>New Account</button>
	</form>
</section>

<table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Name</th>
            <th>BSB & Account Number</th>
            <th>Address</th>
			<th></th>
			<th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var myAccount in @Model.MyAccounts) {
            <tr>
                <td>@myAccount.CompanyName</td>
                <td>@myAccount.Name</td>
                <td>@myAccount.BSB @myAccount.AccountNo</td>
                <td>
				<address>@myAccount.StreetNumber @myAccount.Street<br>
					@myAccount.City
					@myAccount.State
					@myAccount.Postcode
				</address>
				</td>
                <td><a asp-page="Edit" asp-route-id="@myAccount.Id"><i data-lucide="edit"></i></a></td>
				<td><a class="btn btn-delete" asp-page="Delete" asp-route-id="@myAccount.Id"><i data-lucide="trash-2"></i></a></td>
            </tr>
        }
    </tbody>
</table>
