@page
@using Humanizer;
@model IndexModel
@{
ViewData["Title"] = "Home page";
}



<section>
	<form class="inline-button-bar">
	<button class="btn btn-primary" asp-page="/WorkItems/Create" title="Log Hours" aria-label="Log Hours">
		<i data-lucide="clock"></i>
		<span>Log Hours</span>
	</button>
	<button class="btn btn-primary" asp-page="/Invoices/Create" aria-label="Create new invoice" title="Create new invoice"><i data-lucide="file-plus-2"></i>
		<span>Create Invoice</span>
	</button>
	</form>
</section>
<table class="table" id="table">
  <thead>
    <th>Client</th>
    <th>Date</th>
    <th>Description</th>
    <th>Hours</th>
    <th>Rate</th>
    <th>Amount</th>
    </thead> 
  <tbody>
    @foreach (var item in Model.WorkItems)
    {
      <tr>
        <td>@item.Client.Name</td>
        <td>@item.Date</td>
        <td>@item.Description</td>
        <td>@item.Hours</td>
        <td>@item.Rate @item.RateUnits.Humanize()</td>
        <td>$@item.Total()</td>
      </tr>
    }
  </tbody>
</table>
